Web-Service-Session-1-Assignment/SoapWebService/WebContent/wsdl/Temperature.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://assignment" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://assignment" xmlns:intf="http://assignment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://assignment" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="convertFahrenheitToCelsius">
    <complexType>
     <sequence>
      <element name="temperatureInFahrenheit" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertFahrenheitToCelsiusResponse">
    <complexType>
     <sequence>
      <element name="convertFahrenheitToCelsiusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertFahrenheitToCelsiusResponse">

      <wsdl:part element="impl:convertFahrenheitToCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertFahrenheitToCelsiusRequest">

      <wsdl:part element="impl:convertFahrenheitToCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Temperature">

      <wsdl:operation name="convertFahrenheitToCelsius">

         <wsdl:input message="impl:convertFahrenheitToCelsiusRequest" name="convertFahrenheitToCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertFahrenheitToCelsiusResponse" name="convertFahrenheitToCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemperatureSoapBinding" type="impl:Temperature">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convertFahrenheitToCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertFahrenheitToCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertFahrenheitToCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemperatureService">

      <wsdl:port binding="impl:TemperatureSoapBinding" name="Temperature">

         <wsdlsoap:address location="http://localhost:8080/SoapWebService/services/Temperature"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
